<div class="row">
    <div class="col-sm-1 mt-4"></div>
  
      <div class="col-sm-10 mt-4">
  
        <div class="card">
  
          <div class="card-body" style="overflow-x:scroll;overflow-y: scroll;font-size: 13px;">
  
            <p class="card-title"><b>SCHEDULE MASTER</b>&nbsp;<button type="button" class="btn btn-secondary" (click)="open(mymodal)" id="btn1"  data-bs-toggle="modal" data-bs-target="#exampleModal"><b>+</b></button></p>
            
      
            <table class="table table-striped" >
  
              <thead class="table-success">
  
              <tr>
                <th scope="col">Airline Name</th>
                <th scope="col">Flight Number</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Depature Time</th>              
                <th scope="col">Source</th>
                <th scope="col">Destination</th>
                <th scope="col">Schedule Days</th>
                <th scope="col">Ticket Cost For Business</th>
                <th scope="col">Ticket Cost For non Business</th>
                <th scope="col">Meal Preference</th>
              <!--  <th scope="col"></th> -->
  
              </tr>
  
              </thead>
  
              <tbody>
  
              <tr *ngFor="let row of scheduledata">
  
                <td>{{row.airlineid}}</td>
  
                <td>{{row.flightid}}</td>

                <td>{{row.arrivaltime}}</td>
  
                <td>{{row.depaturetime}}</td>

                <td>{{row.source}}</td>

                <td>{{row.destination}}</td>

                <td>{{row.scheduledays}}</td>

                <td>{{row.tickecostforbusiness}}</td>

                <td>{{row.tickecostfornonbusiness}}</td>

                <td>{{row.mealpreference}}</td>

  
              <!--  <td><button class="btn btn-info btn-sm" (click)="onEdit(mymodal,row)"><b>Edit</b></button></td>-->
  
              </tr>
  
              </tbody>
        
        </table>
     
        <ng-template #mymodal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"  >Add Flight</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" style="overflow-y:auto;">
            <form  [formGroup]="ScheduleAddfrom">
              <div class="mb-3">
                <label for="ddAirline" class="col-form-label">Airline Name:</label>
                  <select class="form-control" id="ddAirline">
                    <option >--select--</option>
                    <option *ngFor="let row of airlinedata"value={{row.airlineid}}>{{row.airlinename}}</option>
                  </select>
                 
                </div>
              
                <div class="mb-3">
                    <label for="ddFlight" class="col-form-label">Flight Name:</label>
                      <select class="form-control" id="ddFlight">
                        <option >--select--</option>
                        <option *ngFor="let row of flightdata"value={{row.flightid}}>{{row.flightid}}</option>
                      </select>
                 </div>
                  
              <div class="mb-3">
                <label for="ArrivalTime" class="col-form-label">Arrival Date:</label>
                  <input type="date" class="form-control" formControlName="ArrivalTime" placeholder="yyyy-mm-dd"  >
                </div>

                
              <div class="mb-3">
                <label for="DepatureTime" class="col-form-label">Depature Date:</label>
                <input type="date" class="form-control" formControlName="DepatureTime" placeholder="yyyy-mm-dd" >
              </div>


              <div class="mb-3">
                <label for="ArrivalTime" class="col-form-label">Arrival Time:</label>
                  <input type="time" class="form-control" formControlName="Arrival" placeholder="mm:ss"  >
                </div>
              
                <div class="mb-3">
                  <label for="ArrivalTime" class="col-form-label">Depature Time:</label>
                    <input type="time" class="form-control" formControlName="Depature" placeholder="mm:ss"  >
                  </div>
                


              <div class="mb-3">
                <label for="Source" class="col-form-label">Source:</label>
                <input type="text" class="form-control" formControlName="Source" placeholder="Source" >
              </div>
  

              <div class="mb-3">
                <label for="Destination" class="col-form-label">Destination:</label>
                <input type="text" class="form-control" formControlName="Destination" placeholder="Destination" >
              </div>
  
  
              <div class="mb-3">
                <label for="ddSchedule" class="col-form-label">Schedule Days:</label>
                <select class="form-control" id="ddSchedule">
                  <option>--select--</option>
                  <option value="WD">Weekdays</option>
                  <option value="WE">Weekends</option>
                </select>
              </div>
  
              <div class="mb-3">
                <label for="TicketCostForBusiness" class="col-form-label">Ticket Cost For Business:</label>
                <input type=number class="form-control" formControlName="TickeCostForBusiness" placeholder="Ticket Cost For Business" >
              </div>


              
              <div class="mb-3">
                <label for="TicketCostForNonBusiness" class="col-form-label">Ticket Cost For Non Business:</label>
                <input type=number class="form-control" formControlName="TickeCostForNonBusiness" placeholder="Ticket Cost For Non Business" >
              </div>
  
             
              <div class="mb-3">
                <label for="ddMealPreference" class="col-form-label">Meal Preference:</label>
                <select class="form-control" id="ddMealPreference">
                  <option>--select--</option>
                  <option value="VEG">VEG</option>
                  <option value="NONVEG">NON-VEG</option>
                </select>
              
              </div>

          </form>
          </div>
          <div class="modal-footer" >
            <button type="submit"  class="btn btn-success" (click)="AddSchedule()" id="btnSave" >Save</button>
            <button type="submit"  class="btn btn-success" (click)="UpdateSchedule()" id="btnUpdate" >Update</button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
          </div>
        </ng-template>
        
        </div>
  
  
        </div>
  
  
        
        