<div class="row">
    <div class="col-sm-1 mt-4"></div>
  
      <div class="col-sm-10 mt-4">
  
        <div class="card">
  
          <div class="card-body">
  
            <p class="card-title"><b>DISCOUNT MASTER</b>&nbsp;<button type="button" class="btn btn-secondary" (click)="open(mymodal)" id="btn1"  data-bs-toggle="modal" data-bs-target="#exampleModal"><b>+</b></button></p>
            
      
            <table class="table table-striped" style="overflow-x: scroll;overflow-y: scroll;font-size: 13px;">
  
              <thead class="table-success">
  
              <tr>
  
                <th scope="col">Discount Code</th>
                <th scope="col">Amount</th>
                <th scope="col">Validity FromDate</th>              
                <th scope="col">Validity ToDate</th>
              <!-- <th scope="col"></th>--> 
  
              </tr>
  
              </thead>
  
              <tbody>
  
              <tr *ngFor="let row of discountdata">
  
                <td>{{row.discountcode}}</td>
  
                <td>{{row.amount}}</td>
  
                <td>{{row.expiryfromdate}}</td>

                <td>{{row.expirytodate}}</td>
  
               <!-- <td><button class="btn btn-info btn-sm" (click)="onEdit(mymodal,row)"><b>Edit</b></button></td>-->
  
              </tr>
  
              </tbody>
  
        
        
        </table>
  
     
        <ng-template #mymodal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"  >Add Discount</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form  [formGroup]="DiscountAddfrom">
              <div class="mb-3">
                <label for="DiscountCode" class="col-form-label">Discount Code:</label>
                  <input type="text" class="form-control" formControlName="Discountcode" placeholder="Discount Code" >
                </div>
                
              <div class="mb-3">
                <label for="Amount" class="col-form-label">Amount:</label>
                  <input type="number" class="form-control" formControlName="Amount" placeholder="Amount"  >
                </div>


                  <div class="mb-3">
                    <label for="Expiryfromdate" class="col-form-label">Validity FromDate:</label>
                    <input type="date" class="form-control" placeholder="yyyy-mm-dd" formControlName="Expiryfromdate">
                    </div>
                  

                  <div class="mb-3">
                    <label for="Expirytodate" class="col-form-label">Validity ToDate:</label>
                    <input type="date" class="form-control" placeholder="yyyy-mm-dd" formControlName="Expirytodate">
                    </div>
                  
                  
                
              
          </form>
          </div>
          <div class="modal-footer" >
            <button type="submit"  class="btn btn-success" (click)="AddDiscount()" id="btnSave" >Save</button>
            <button type="submit"  class="btn btn-success" (click)="UpdateDiscount()" id="btnUpdate" >Update</button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
          </div>
        </ng-template>
        
        </div>
  
  
        </div>
  
  

        
        
        