
  <div class="container">
      <div class="row">
          
        <div class="col-sm-5 mt-4">
           
            <div class="card shadow mb-5 bg-white rounded">
                <!--Card-Body-->
                <div class="card-body">
                    <!--Card-Title-->
                    <p class="card-title text-center"><b>FLIGHT BOOKING FORM</b></p>
                    <hr>
                   <!-- <p class="searchText"><strong>Search For Cheap Flights</strong></p> 
                    
                    </div><br>-->
                    <!--Second Row-->
            <form  [formGroup]="BookAddfrom">

                    <div class="row"> <div class="col-sm-6"> <label class="radiobtn"><input type="radio" name="gender" value="male"><b style="color: indigo;"> One Way</b></label> <label class="radiobtn"><input type="radio" name="gender" value="male"><b style="color: indigo;"> Round Trip</b></label></div> </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6"> 
                          <!--<label for="Source" class="col-form-label">Source</label>-->
                          <input type="text" class="form-control" formControlName="Source" placeholder="Source" >
                        
                        </div>
                        <div class="col-sm-6">
                          <!--<label for="Destination" class="col-form-label">Destination</label>-->
                           <input type="text" class="form-control" formControlName="Destination" placeholder="Destination" >
              
                        </div>
                    </div>
                    <!--Third Row-->
                    <div class="row">
                        <div class="col-sm-6"> <input type="date" class="form-control" formControlName="ArrivalTime" placeholder="yyyy-mm-dd"  > </div>
                        <div class="col-sm-6"> <input type="date" class="form-control" formControlName="DepatureTime" placeholder="yyyy-mm-dd"  > </div>
                    </div>
                    <!--Fifth Row
                    <div class="row">
                        <div class="col-sm-4"> <select class="browser-default custom-select mb-4" id="select">
                                <option value="" disabled="" selected="">Kids(0-14)</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select> </div>
                        <div class="col-sm-4"> <select class="browser-default custom-select mb-4" id="select">
                                <option value="" disabled="" selected="">Adults(15-64)</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select> </div>
                        <div class="col-sm-4"> <select class="browser-default custom-select mb-4" id="select">
                                <option value="" disabled="" selected="">Seniors(65+)</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select> </div>
                    </div> -->
                    <br>

                    <button class="btn btn-primary" style="background-color:indigo;" (click)="Onfindflights()"><b>Find Flights</b></button>
                    </form>
                </div>
            </div>
  
        </div>

        <div class="col-sm-1 mt-4"></div>
  
        <div class="col-sm-6 mt-4">

          

            <table class="table"  id="tblFlight">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Airline</th>
                    <th scope="col">Flight</th>
                    <th scope="col">Timing</th>
                    <th scope="col">Buisnessseatcost</th>
                    <th scope="col">Economeyseatcost</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of bookdata;let i=index"  [ngClass]="row.selected ? 'active':''">
                    
                    <td>{{row.airlinename}}</td>
                    <td>{{row.airlinename}}</td>
                    <td>{{row.flightid}}</td>
                    <td>{{row.arrival}}</td>
                    <td>{{row.tickecostforbusiness}}</td>
                    <td>{{row.tickecostfornonbusiness}}</td>
                    <td><button (click)="selectMe(row)" class="btn btn-success">select</button></td>
                </tbody>
              </table>

        </div>

  
      </div>



      <div class="row">
        <div class="col-sm-5 mt-4">
          
          <table class="table"  id="tblPassenger">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Airline</th>
                <th scope="col">Flight</th>
                <th scope="col">Timing</th>
                <th scope="col">Buisnessseatcost</th>
                <th scope="col">Economeyseatcost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of bookdata;let i=index"  [ngClass]="row.selected ? 'active':''">
                
                <td>{{row.airlinename}}</td>
                <td>{{row.airlinename}}</td>
                <td>{{row.flightid}}</td>
                <td>{{row.arrival}}</td>
                <td>{{row.tickecostforbusiness}}</td>
                <td>{{row.tickecostfornonbusiness}}</td>
                <td><button (click)="selectMe(row)" class="btn btn-success">select</button></td>
            </tbody>
          </table>
        </div>
      </div>
  </div>

  