<div class="row">
    <div class="col-sm-1 mt-4"></div>
  
      <div class="col-sm-10 mt-4">
  
        <div class="card">
  
          <div class="card-body">
  
            <!--<p class="card-title"><b>AIRLINE MASTER</b></p>
            <button type="button" class="btn btn-secondary" (click)="open(mymodal)" id="btn1"  data-bs-toggle="modal" data-bs-target="#exampleModal"><b>+</b></button>-->
            <p class="card-title"><b>MANAGE BOOKING</b>&nbsp;&nbsp;&nbsp;</p>
            
      <br>
      
              
            <table class="table table-striped" style="overflow-x: scroll;overflow-y: scroll;">
  
                <thead class="table-success">
    
                <tr>
    
                  <th scope="col">PNRID</th>
                  <th scope="col">BookedDate</th>
                  <th scope="col">Name</th>
                  <th scope="col">Gender</th>              
                  <th scope="col">Emailid</th>
                  <th scope="col">MealPreference</th>
                  <th scope="col"></th>
    
                </tr>
    
                </thead>
    
                <tbody>
    
                <tr *ngFor="let row of bookhistorydata">
    
                  <td>{{row.pnrid}}</td>
                  <td>{{row.createddate}}</td>
    
                  <td>{{row.name}}</td>
    
                  <td>{{row.gender}}</td>

                  <td>{{row.emailid}}</td>

                  <td>{{row.mealpreferences}}</td>

                  <td><ng-container *ngIf='row.status=="Cancelled";else active'><span class="badge bg-danger">Cancelled</span></ng-container><ng-template #active><button class="btn btn-warning" (click)=onCancel(row.passengerid)>Cancel</button></ng-template></td>
               
    
                </tr>
    
                </tbody>
    
          
          
          </table>
    
        
        </div>
  
  
        </div>

        </div>
        
    
  
  
        
        

