<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    
                  <h2>Signup</h2>
                  
                  <br>
                </div>
                
      <form  fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" 
      (ngSubmit)="signupProcess()" >
      <div class="input-group mb-3">
        <input type="text" class="form-control" formControlName="name" placeholder="Name" >
      </div>
    
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" formControlName="emailid" placeholder="Email" >
                      </div>

                      <div class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="phonenumber" placeholder="Contact Number" >
                      </div>
                    
                      <div class="text-center">
                      <button type="submit"  class="btn btn-primary">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



  